{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style="background-color: #f9f9f9; color: #333333;">
    <div class="container">
        <h1 class="display-4">About Me</h1>
        <p class="lead">Detail-oriented and results-driven Software Engineer & GeoSpatial Data Specialist with over 4 years of experience in Python, AWS, and ESRI ArcGIS platforms. Strong expertise in building automation pipelines, cloud solutions, and spatial data applications. Skilled in collaborating with stakeholders, optimizing workflows, and delivering solutions that improve data accuracy and business efficiency. Adept at problem-solving, project management, and applying Agile methodologies.</p>
        <hr class="my-4">  
        <img src="/static/dance_meme.gif" alt="Animated GIF" >
        <hr class="my-4">
        <a class="btn btn-dark btn-lg" href="/projects" role="button">My Projects</a> 
    </div>
</div>
{% endblock %}